
.page-header, .site-footer {
    display: none !important;
}

.main-content {
    max-width: 100% !important;
}

.main-content h1 {
    color: #4caf50 !important;
}

.container {
    font-family: "Verdana";
    font-size: 18px;
    
	width: 1000px;
	margin: 0 auto;
    margin-top: 30px;
    overflow: hidden;
}

.container .cls {
    clear: both;
}

.container .info {
    font-size: 14px;
}

.container .info .info-box {
    float: left;
    width: 70%;
    color: #607d8b;
    font-weight: bold;
}

.container .info .info-box .title {
    font-size: 48px;
    margin-bottom: 10px;
}

.container .info .info-box .info-item {
    margin-right: 25px;
    vertical-align: top;
    float: left;
    font-size: 14px;
}

.container .info .info-box .info-item i {
    margin-right: 2px;
    vertical-align: text-bottom;
}

.container .info .photo {
    border-radius: 50%;
    width: 200px;
    float: right;
}

.container .presentation .cv-item i {
    margin-right: 4px;
}

.container .main .left {
    width: 54%;
    margin-right: 1%;
}

.container .main .right {
    width: 44%;
    margin-left: 1%;
}

.container .main .left {
    margin-right: 1%;
}

.container .main .right {
    margin-left: 1%;
}

.container .main .section {
    padding: 5px 0;
}

.container .presentation > .title,
.container .main .section > .title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid black;
    margin-bottom: 10px;
}

.container .main .section .experience,
.container .main .section .formation,
.container .main .section .university {
    padding: 10px 0;
    /*border-bottom: 1px dashed #607d8b;*/
}

.container .main .section .experience:last-child, 
.container .main .section .formation:last-child,
.container .main .section .university:last-child {
    padding-bottom: 0px;
    /*border: none;*/
}

/*
.container .main .section .experience > * {
    margin: 5px 0;
}*/

.container .main .section .experience .collapsible-body > *, 
.container .main .section .formation .collapsible-body > *,
.container .main .section .university .collapsible-body > * {
    margin: 5px 0;
}

.container .main .section .experience .title,
.container .main .section .formation .title {
    color: #607d8b;
    font-weight: bold;
}

.container .main .section .experience .enterprise,
.container .main .section .formation .school,
.container .main .section .university .project {
    font-weight: bold;
}

.container .main .section .experience .moment .period,
.container .main .section .formation .moment .period,
.container .main .section .university .moment .period {
    float: left;
}

.container .main .section .experience .moment .where,
.container .main .section .formation .moment .where,
.container .main .section .university .moment .where  {
    float: right;
}

.container .main .section .experience .jobs,
.container .main .section .formation .graduation-info,
.container .main .section .university .description {
    font-size: 14px;
    list-style-type: none;
    padding-top: 10px;
}

.container .main .section .experience .jobs > li {
    padding: 5px 0;
}

.container .main .section .experience .jobs > li::last-child {
    padding: 0;
}

.collapsible-body {
    padding: 5px;
}

.container .main .section .formation .graduation-info label {
    font-weight: bold;
}

.container .main .section .tags,
.container .main .section .skills {
    margin-top: 10px;
}

.container .main .section .tags .chip {
    background-color: #607d8b;
    color: white;
}

.checked {
    color: orange;
}

